*.ico
*.opendb
*.ipch
*.suo
*.db
*.png
*.xml
*.appxmanifest
*.pfx
*.xaml
*.cache
*.dll
*.obj
*.lib
*.appxrecipe
*.exe
*.tlog
*.winmd
*.pri
*.ilk
*.pdb
*.intermediate
*.log
*.resfiles
*.resw
*.hpp
*.xbf
*.idb
*.exp
*.res
*.state
*.pch

DarkOfTheNight/obj
DarkOfTheNight/bin